@model IEnumerable<MyPark.Model.DataBase.Models.estadia>

<table class="table table-striped table-bordered table-responsive">
    <tr>
        <th>
            @Html.DisplayName("Placa")
        </th>
        <th>
            @Html.DisplayName("Data de Entrada")
        </th>
        <th>
            @Html.DisplayName("Hora de Entrada")
        </th>
        <th>

        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Veiculo.Placa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DtEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraEntrada)
        </td>
        <td>
            <a data-ajax="true"
               data-ajax-loading="#loadAjax"
               data-ajax-method="post"
               data-ajax-mode="replace"
               data-ajax-success="exibirDlgSaidaEstadia"
               data-ajax-update="#telaSaida"
               href="@Url.Action("SairEstadia", "Home", new { placa = item.Veiculo.Placa, info = true})"
               class="btn btn-info">
                <i class="glyphicon glyphicon-info-sign"></i> Informações
            </a>
            <a data-ajax="true"
               data-ajax-loading="#loadAjax"
               data-ajax-method="post"
               data-ajax-mode="replace"
               data-ajax-success="exibirDlgSaidaEstadia"
               data-ajax-update="#telaSaida"
               href="@Url.Action("SairEstadia", "Home", new { placa = item.Veiculo.Placa, info = false})"
               class="btn btn-danger">
                <i class="glyphicon glyphicon-arrow-down"></i> Saída
            </a>
        </td>
    </tr>
}

</table>
